/**** GENERAL ****/
/* line 10, ../sass/style.scss */
.image img {
  width: 100%;
}

/* line 11, ../sass/style.scss */
.upper {
  text-transform: uppercase;
}

/* line 13, ../sass/style.scss */
.black-text {
  color: #332d2a !important;
}

/* line 14, ../sass/style.scss */
.grey-text {
  color: #767676 !important;
}

/* line 15, ../sass/style.scss */
.light-grey-text {
  color: #909090 !important;
}

/* line 16, ../sass/style.scss */
.yellow-text {
  color: #ffe04a !important;
}

/* line 17, ../sass/style.scss */
.blue-text {
  color: #43d1ff !important;
}

/* line 19, ../sass/style.scss */
.yellow {
  background-color: #ffe04a !important;
}

/* line 20, ../sass/style.scss */
.blue {
  background-color: #43d1ff !important;
}

/* line 21, ../sass/style.scss */
.light-grey {
  background-color: #909090 !important;
}

/* line 22, ../sass/style.scss */
.light-grey-bg {
  background-color: #e4e4e4 !important;
}

/* line 23, ../sass/style.scss */
.text-shadow {
  text-shadow: 1px 1px 1px black;
}

/* line 25, ../sass/style.scss */
.bottom-shadow {
  -webkit-box-shadow: 0 5px 10px 0px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 0 5px 10px 0px rgba(128, 128, 128, 0.5);
  box-shadow: 0 5px 10px 0px rgba(128, 128, 128, 0.5);
}

/* line 31, ../sass/style.scss */
.transparent {
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

/* line 37, ../sass/style.scss */
.share-section {
  position: relative;
}
/* line 39, ../sass/style.scss */
.share-section .header {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  line-height: 64px;
  vertical-align: middle;
}
/* line 40, ../sass/style.scss */
.share-section .sharing {
  display: inline-block;
  margin: 0 0 0 34px;
  padding: 0;
}
/* line 43, ../sass/style.scss */
.share-section .sharing li {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 64px;
  vertical-align: middle;
}
/* line 49, ../sass/style.scss */
.share-section .sharing li a {
  display: inline-block;
  text-align: center;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  background: #fff;
  font-size: 22px;
  color: #332d2a;
  -webkit-box-shadow: 0 3px 5px 0px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 0 3px 5px 0px rgba(128, 128, 128, 0.5);
  box-shadow: 0 3px 5px 0px rgba(128, 128, 128, 0.5);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 66, ../sass/style.scss */
.share-section .sharing li:hover a {
  background: orange;
  color: #fff;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 80, ../sass/style.scss */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
}

/**** HEADER ****/
/* line 84, ../sass/style.scss */
header nav {
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
/* line 85, ../sass/style.scss */
header nav a {
  color: #332d2a;
}
/* line 91, ../sass/style.scss */
header nav.transparent {
  /*a {color: white;}*/
}

/* line 96, ../sass/style.scss */
.brand-logo img, .footer-logo img {
  max-width: 200px;
  padding: 14px 0;
}

/**** PAGE ****/
/* line 99, ../sass/style.scss */
.section-title {
  font-size: 1.5rem;
}

/* line 101, ../sass/style.scss */
.items-grid .item {
  padding: 0 3px;
  margin: 0;
  margin-bottom: 6px;
}
/* line 105, ../sass/style.scss */
.items-grid .item .wrapper {
  text-align: center;
  padding: 20px;
  background: #ccc;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 113, ../sass/style.scss */
.items-grid .item .wrapper .title {
  text-transform: uppercase;
  color: #332d2a;
}
/* line 114, ../sass/style.scss */
.items-grid .item .wrapper .value {
  font-size: 2.5rem;
  color: #332d2a;
}
/* line 115, ../sass/style.scss */
.items-grid .item .wrapper:hover {
  background: #332d2a !important;
}
/* line 117, ../sass/style.scss */
.items-grid .item .wrapper:hover .title, .items-grid .item .wrapper:hover .value {
  color: #fff;
}

/* line 123, ../sass/style.scss */
.grid-5 .item {
  width: 20%;
  float: left;
}
/* line 125, ../sass/style.scss */
.grid-5 .item .wrapper {
  padding: 40px 20px;
}

/* line 130, ../sass/style.scss */
.greed-green .item .wrapper {
  background: #fff54e;
}
/* line 131, ../sass/style.scss */
.greed-green .item:nth-child(1) .wrapper {
  background: #5da30f;
}
/* line 132, ../sass/style.scss */
.greed-green .item:nth-child(2) .wrapper {
  background: #70be1a;
}
/* line 133, ../sass/style.scss */
.greed-green .item:nth-child(3) .wrapper {
  background: #7fcd2b;
}
/* line 134, ../sass/style.scss */
.greed-green .item:nth-child(4) .wrapper {
  background: #8ce42e;
}
/* line 135, ../sass/style.scss */
.greed-green .item:nth-child(5) .wrapper {
  background: #8ce42e;
}
/* line 136, ../sass/style.scss */
.greed-green .item:nth-child(6) .wrapper {
  background: #a4e95a;
}
/* line 137, ../sass/style.scss */
.greed-green .item:nth-child(7) .wrapper {
  background: #c2e95a;
}
/* line 138, ../sass/style.scss */
.greed-green .item:nth-child(8) .wrapper {
  background: #cce959;
}
/* line 139, ../sass/style.scss */
.greed-green .item:nth-child(9) .wrapper {
  background: #e7e958;
}
/* line 140, ../sass/style.scss */
.greed-green .item:nth-child(10) .wrapper {
  background: #fff54e;
}

/* line 143, ../sass/style.scss */
.cta-container {
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 148, ../sass/style.scss */
.cta-container .wrapper {
  padding: 30px 0;
  overflow: hidden;
  height: 100%;
  background-color: rgba(71, 209, 255, 0.55);
}

/* line 151, ../sass/style.scss */
.section .heading {
  padding: 30px 0;
}
/* line 153, ../sass/style.scss */
.section .heading .header {
  margin: 0;
  line-height: 36px;
}

/* line 157, ../sass/style.scss */
.card .card-title {
  font-size: 18px;
  line-height: 1;
}
/* line 159, ../sass/style.scss */
.card.no-content .card-action {
  border-top: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/**** FOOTER ****/
/* line 163, ../sass/style.scss */
footer.page-footer {
  padding-top: 0;
  margin-top: 0;
}
/* line 166, ../sass/style.scss */
footer.page-footer .footer-copyright {
  background-color: #332d2a;
  height: 63px;
  line-height: 63px;
}
/* line 167, ../sass/style.scss */
footer.page-footer .footer-nav {
  box-shadow: none !important;
  background: transparent;
}
/* line 168, ../sass/style.scss */
footer.page-footer a {
  color: #909090;
}

/**** RESPONSE ****/
@media screen and (max-width: 768px) {
  /* line 175, ../sass/style.scss */
  .grid-5 .item {
    width: 25%;
    float: left;
  }
  /* line 177, ../sass/style.scss */
  .grid-5 .item .wrapper {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 640px) {
  /* line 183, ../sass/style.scss */
  .grid-5 .item {
    width: 33.33%;
    float: left;
  }
  /* line 185, ../sass/style.scss */
  .grid-5 .item .wrapper {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 480px) {
  /* line 191, ../sass/style.scss */
  .grid-5 .item {
    width: 50%;
    float: left;
  }
  /* line 193, ../sass/style.scss */
  .grid-5 .item .wrapper {
    padding: 20px 10px;
  }

  /* line 196, ../sass/style.scss */
  .brand-logo {
    right: 50%;
  }

  /* line 197, ../sass/style.scss */
  .brand-logo img, .footer-logo img {
    max-width: 150px;
  }
}
