/* line 1, ../sass/animate.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
/* line 13, ../sass/animate.scss */
.animated .hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* line 103, ../sass/animate.scss */
.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 152, ../sass/animate.scss */
.delay {
  -webkit-animation-delay: 0.30s;
  -moz-animation-delay: 0.30s;
  -o-animation-delay: 0.30s;
  animation-delay: 0.30s;
}

/* line 159, ../sass/animate.scss */
.delay-three {
  -webkit-animation-delay: 0.60s;
  -moz-animation-delay: 0.60s;
  -o-animation-delay: 0.60s;
  animation-delay: 0.60s;
}

/* line 167, ../sass/animate.scss */
.delay-two {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay: 1.0s;
  -o-animation-delay: 1.0s;
  animation-delay: 1.0s;
}

/* line 174, ../sass/animate.scss */
.delay-one {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/* line 181, ../sass/animate.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 236, ../sass/animate.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 291, ../sass/animate.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* line 346, ../sass/animate.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 353, ../sass/animate.scss */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}
@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 449, ../sass/animate.scss */
.animated .fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}
/* line 455, ../sass/animate.scss */
.animated .fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/**** GENERAL ****/
/* line 16, ../sass/style.scss */
.clearboth {
  clear: both;
  float: none;
  width: 100%;
}

/* line 17, ../sass/style.scss */
.image img {
  width: 100%;
}

/* line 18, ../sass/style.scss */
.upper {
  text-transform: uppercase;
}

/* line 20, ../sass/style.scss */
.black-text {
  color: #332d2a !important;
}

/* line 21, ../sass/style.scss */
.grey-text {
  color: #767676 !important;
}

/* line 22, ../sass/style.scss */
.light-grey-text {
  color: #909090 !important;
}

/* line 23, ../sass/style.scss */
.yellow-text {
  color: #ffe04a !important;
}

/* line 24, ../sass/style.scss */
.blue-text {
  color: #43d1ff !important;
}

/* line 26, ../sass/style.scss */
.yellow {
  background-color: #ffe04a !important;
}

/* line 27, ../sass/style.scss */
.blue {
  background-color: #43d1ff !important;
}

/* line 28, ../sass/style.scss */
.light-grey {
  background-color: #909090 !important;
}

/* line 29, ../sass/style.scss */
.light-grey-bg {
  background-color: #e4e4e4 !important;
}

/* line 30, ../sass/style.scss */
.text-shadow {
  text-shadow: 1px 1px 1px black;
}

/* line 32, ../sass/style.scss */
.link {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-align: center;
  text-transform: uppercase;
}

/* line 34, ../sass/style.scss */
.bottom-shadow {
  -moz-box-shadow: rgba(128, 128, 128, 0.5) 0 5px 10px 0px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.5) 0 5px 10px 0px;
  box-shadow: rgba(128, 128, 128, 0.5) 0 5px 10px 0px;
}

/* line 36, ../sass/style.scss */
.transparent {
  background-color: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 40, ../sass/style.scss */
.share-section {
  position: relative;
}
/* line 42, ../sass/style.scss */
.share-section .header {
  display: inline-block;
  margin: 0;
  font-size: 36px;
  line-height: 64px;
  vertical-align: middle;
}
/* line 43, ../sass/style.scss */
.share-section .sharing {
  display: inline-block;
  margin: 0 0 0 34px;
  padding: 0;
}
/* line 46, ../sass/style.scss */
.share-section .sharing li {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 64px;
  vertical-align: middle;
}
/* line 52, ../sass/style.scss */
.share-section .sharing li a {
  display: inline-block;
  text-align: center;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  background: #fff;
  font-size: 22px;
  color: #332d2a;
  -moz-box-shadow: rgba(128, 128, 128, 0.5) 0 3px 5px 0px;
  -webkit-box-shadow: rgba(128, 128, 128, 0.5) 0 3px 5px 0px;
  box-shadow: rgba(128, 128, 128, 0.5) 0 3px 5px 0px;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* line 63, ../sass/style.scss */
.share-section .sharing li:hover a {
  background: orange;
  color: #fff;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 73, ../sass/style.scss */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
}

/**** HEADER ****/
/* line 77, ../sass/style.scss */
header nav {
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 78, ../sass/style.scss */
header nav a {
  color: #332d2a;
}
/* line 81, ../sass/style.scss */
header nav.transparent {
  /*a {color: white;}*/
}

/* line 86, ../sass/style.scss */
.brand-logo img, .footer-logo img {
  max-width: 200px;
  padding: 14px 0;
}

/**** PAGE ****/
/* line 89, ../sass/style.scss */
.section-title {
  font-size: 1.5rem;
}

/* line 91, ../sass/style.scss */
.items-grid .item {
  padding: 0 3px;
  margin: 0;
  margin-bottom: 6px;
}
/* line 95, ../sass/style.scss */
.items-grid .item .wrapper {
  text-align: center;
  padding: 20px;
  background: #ccc;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 100, ../sass/style.scss */
.items-grid .item .wrapper .title {
  text-transform: uppercase;
  color: #332d2a;
}
/* line 101, ../sass/style.scss */
.items-grid .item .wrapper .value {
  font-size: 2.5rem;
  color: #332d2a;
}
/* line 102, ../sass/style.scss */
.items-grid .item .wrapper:hover {
  background: #332d2a !important;
}
/* line 104, ../sass/style.scss */
.items-grid .item .wrapper:hover .title, .items-grid .item .wrapper:hover .value {
  color: #fff;
}

/* line 110, ../sass/style.scss */
.grid-5 .item {
  width: 20%;
  float: left;
}
/* line 112, ../sass/style.scss */
.grid-5 .item .wrapper {
  padding: 40px 20px;
}

/* line 117, ../sass/style.scss */
.greed-green .item .wrapper {
  background: #fff54e;
}
/* line 118, ../sass/style.scss */
.greed-green .item:nth-child(1) .wrapper {
  background: #5da30f;
}
/* line 119, ../sass/style.scss */
.greed-green .item:nth-child(2) .wrapper {
  background: #70be1a;
}
/* line 120, ../sass/style.scss */
.greed-green .item:nth-child(3) .wrapper {
  background: #7fcd2b;
}
/* line 121, ../sass/style.scss */
.greed-green .item:nth-child(4) .wrapper {
  background: #8ce42e;
}
/* line 122, ../sass/style.scss */
.greed-green .item:nth-child(5) .wrapper {
  background: #8ce42e;
}
/* line 123, ../sass/style.scss */
.greed-green .item:nth-child(6) .wrapper {
  background: #a4e95a;
}
/* line 124, ../sass/style.scss */
.greed-green .item:nth-child(7) .wrapper {
  background: #c2e95a;
}
/* line 125, ../sass/style.scss */
.greed-green .item:nth-child(8) .wrapper {
  background: #cce959;
}
/* line 126, ../sass/style.scss */
.greed-green .item:nth-child(9) .wrapper {
  background: #e7e958;
}
/* line 127, ../sass/style.scss */
.greed-green .item:nth-child(10) .wrapper {
  background: #fff54e;
}

/* line 130, ../sass/style.scss */
.cta-container {
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 135, ../sass/style.scss */
.cta-container .wrapper {
  padding: 30px 0;
  overflow: hidden;
  height: 100%;
  background-color: rgba(71, 209, 255, 0.55);
}

/* line 138, ../sass/style.scss */
.section .heading {
  padding: 30px 0;
}
/* line 140, ../sass/style.scss */
.section .heading .header {
  margin: 0;
  line-height: 36px;
}

/* line 144, ../sass/style.scss */
.card .card-title {
  font-size: 18px;
  line-height: 1;
}
/* line 146, ../sass/style.scss */
.card.no-content .card-action {
  border-top: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/**** FOOTER ****/
/* line 150, ../sass/style.scss */
footer.page-footer {
  padding-top: 0;
  margin-top: 0;
}
/* line 153, ../sass/style.scss */
footer.page-footer .footer-copyright {
  background-color: #332d2a;
  height: 63px;
  line-height: 63px;
}
/* line 154, ../sass/style.scss */
footer.page-footer .footer-nav {
  box-shadow: none !important;
  background: transparent;
}
/* line 155, ../sass/style.scss */
footer.page-footer a {
  color: #909090;
}

/******* LOGIN PAGE *******/
/* line 161, ../sass/style.scss */
body.fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 162, ../sass/style.scss */
#login-banner {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  overflow: hidden;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 169, ../sass/style.scss */
.login-section {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

/* line 170, ../sass/style.scss */
.logo-text {
  font-size: 1.5em;
  padding: 1em 0;
}

/* line 171, ../sass/style.scss */
.login-wrapper {
  background-color: white;
  padding: 34px;
}
/* line 174, ../sass/style.scss */
.login-wrapper .link {
  font-size: 12px;
}

/**** RESPONSE ****/
@media screen and (max-width: 768px) {
  /* line 180, ../sass/style.scss */
  .grid-5 .item {
    width: 25%;
    float: left;
  }
  /* line 182, ../sass/style.scss */
  .grid-5 .item .wrapper {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 640px) {
  /* line 188, ../sass/style.scss */
  .grid-5 .item {
    width: 33.33%;
    float: left;
  }
  /* line 190, ../sass/style.scss */
  .grid-5 .item .wrapper {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 480px) {
  /* line 196, ../sass/style.scss */
  .grid-5 .item {
    width: 50%;
    float: left;
  }
  /* line 198, ../sass/style.scss */
  .grid-5 .item .wrapper {
    padding: 20px 10px;
  }

  /* line 201, ../sass/style.scss */
  .brand-logo {
    right: 50%;
  }

  /* line 202, ../sass/style.scss */
  .brand-logo img, .footer-logo img {
    max-width: 150px;
  }
}
