$du_blue: #43d1ff;
$du_yellow: #ffe04a;
$du_black: #332d2a;

$du_grey: #767676;
$du_light_grey: #909090;
$du_light_grey_bg: #e4e4e4;

/**** GENERAL ****/
.image img {width: 100%;}
.upper {text-transform: uppercase;}

.black-text {color: $du_black !important;}
.grey-text {color: $du_grey !important;}
.light-grey-text {color: $du_light_grey !important;}
.yellow-text {color: $du_yellow !important;}
.blue-text {color: $du_blue !important;}

.yellow {background-color: $du_yellow !important;}
.blue {background-color: $du_blue !important;}
.light-grey {background-color: $du_light_grey !important;}
.light-grey-bg {background-color: $du_light_grey_bg !important;}
.text-shadow {text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);}

.bottom-shadow {
	-webkit-box-shadow: 0 5px 10px 0px rgba(128, 128, 128, 0.5);
	-moz-box-shadow: 0 5px 10px 0px rgba(128, 128, 128, 0.5);
	box-shadow: 0 5px 10px 0px rgba(128, 128, 128, 0.5);
}

.transparent {
	background-color: transparent !important; 
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.share-section {
	position: relative;
	.header {display: inline-block; margin: 0; font-size: 36px; line-height: 64px; vertical-align: middle;}
	.sharing {
		display: inline-block;
		margin: 0 0 0 34px; padding: 0;
		li {
			display: inline-block;
			width: 54px;
			height: 54px;
			line-height: 64px;
			vertical-align: middle;
			a {
				display: inline-block; text-align: center;
				height: 36px; width: 36px; line-height: 36px;
				border-radius: 50%;
				background: #fff;
				font-size: 22px;
				color: $du_black;
				-webkit-box-shadow:  0 3px 5px 0px rgba(128, 128, 128, 0.5);
				-moz-box-shadow:  0 3px 5px 0px rgba(128, 128, 128, 0.5);
				box-shadow: 0 3px 5px 0px rgba(128, 128, 128, 0.5);
				-webkit-transition-duration: 0.3s;
			    -moz-transition-duration: 0.3s;
			    -ms-transition-duration: 0.3s;
			    -o-transition-duration: 0.3s;
			    transition-duration: 0.3s;
			}
			&:hover{
				a {
					background: orange;
					color: #fff;
					-webkit-transform: scale(1.5);
				    -moz-transform: scale(1.5);
				    -ms-transform: scale(1.5);
				    -o-transform: scale(1.5);
				    transform: scale(1.5);
				}
			}
		}
	}
}

.fixed {position: fixed; top: 0; left: 0; right: 0; z-index: 9000;}

/**** HEADER ****/
header {
	nav {
		a {color: $du_black;}
		-moz-transition: background-color 0.5s ease;
		-o-transition: background-color 0.5s ease;
		-webkit-transition: background-color 0.5s ease;
		transition: background-color 0.5s ease;
	}
	nav.transparent {
		/*a {color: white;}*/
	}
}

.brand-logo img, .footer-logo img {max-width: 200px; padding: 14px 0;}

/**** PAGE ****/
.section-title {font-size: 1.5rem;}
.items-grid {
	.item {
		padding: 0 3px;
		margin: 0;
		margin-bottom: 6px;
		.wrapper {
			text-align: center;
			padding: 20px;
			background: #ccc;
			-moz-transition: background 0.5s ease;
			-o-transition: background 0.5s ease;
			-webkit-transition: background 0.5s ease;
			transition: background 0.5s ease;
			.title {text-transform: uppercase; color: $du_black;}
			.value {font-size: 2.5rem; color: $du_black;}
			&:hover {
				background: $du_black !important;
				.title, .value {color: #fff;}
			}
		}
	}
}
.grid-5 {
	.item {
		width: 20%; float: left;
		.wrapper {padding: 40px 20px;}
	}
}

.greed-green {
	.item .wrapper {background: #fff54e;}
	.item:nth-child(1) .wrapper {background: #5da30f;}
	.item:nth-child(2) .wrapper {background: #70be1a;}
	.item:nth-child(3) .wrapper {background: #7fcd2b;}
	.item:nth-child(4) .wrapper {background: #8ce42e;}
	.item:nth-child(5) .wrapper {background: #8ce42e;}
	.item:nth-child(6) .wrapper {background: #a4e95a;}
	.item:nth-child(7) .wrapper {background: #c2e95a;}
	.item:nth-child(8) .wrapper {background: #cce959;}
	.item:nth-child(9) .wrapper {background: #e7e958;}
	.item:nth-child(10) .wrapper {background: #fff54e;}
}

.cta-container { 
	background-image: url('../images/background1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.wrapper {padding: 30px 0; overflow: hidden; height: 100%; background-color: rgba(71, 209, 255, 0.55)}
}
.section {
	.heading {
		padding: 30px 0;
		.header {margin: 0; line-height: 36px;}
	}
}
.card {
	.card-title {font-size: 18px; line-height: 1;}
	&.no-content {
		.card-action {border-top: none; padding-top: 10px; padding-bottom: 10px;}
	}
}
/**** FOOTER ****/
footer.page-footer {
	padding-top: 0;
	margin-top: 0;
	.footer-copyright {background-color: $du_black; height: 63px; line-height: 63px;}
	.footer-nav {box-shadow: none !important; background: transparent;}
	a {color: $du_light_grey;}

}

/**** RESPONSE ****/
@media screen and (max-width: 768px){
	.grid-5 {
		.item {
			width: 25%; float: left;
			.wrapper {padding: 20px 10px;}
		}
	}
}
@media screen and (max-width: 640px){
	.grid-5 {
		.item {
			width: 33.33%; float: left;
			.wrapper {padding: 30px 10px;}
		}
	}
}
@media screen and (max-width: 480px){
	.grid-5 {
		.item {
			width: 50%; float: left;
			.wrapper {padding: 20px 10px;}
		}
	}
	.brand-logo {right: 50%;}
	.brand-logo img, .footer-logo img {max-width: 150px;}
}