@import "font-awesome-compass";
@import "font-awesome";

@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "animate.scss";


$du_blue: #43d1ff;
$du_yellow: #ffe04a;
$du_black: #332d2a;

$du_grey: #767676;
$du_light_grey: #909090;
$du_light: #e4e4e4;


$color_facebook : #004b99;
$color_vk       : #0069b3;
$color_google   : #df4104;
$color_twitter  : #60a9de;
$color_youtube  : #b6252c;

/**** GENERAL ****/
.clearboth {clear: both; float: none; width: 100%;}
.image img {width: 100%;}
.upper {text-transform: uppercase;}

.black-text {color: $du_black !important;}
.grey-text {color: $du_grey !important;}
.light-grey-text {color: $du_light_grey !important;}
.yellow-text {color: $du_yellow !important;}
.blue-text {color: $du_blue !important;}

.yellow {background-color: $du_yellow !important;}
.blue {background-color: $du_blue !important;}
.light-grey {background-color: $du_light_grey !important;}
.light-grey-bg {background-color: $du_light !important;}
.text-shadow {text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);}

.link {display: inline-block; height: 36px; line-height: 36px; padding: 0 2rem; text-align: center; text-transform: uppercase;}

.bottom-shadow {@include box-shadow(rgba(128, 128, 128, 0.5) 0 5px 10px 0px);}

.transparent {
	background-color: transparent !important; 
	@include box-shadow(none !important);
}

.sharing {
	display: inline-block;
	margin: 0; padding: 0;
	li {
		display: inline-block;
		width: 54px;
		height: 54px;
		line-height: 54px;
		text-align: center;
		vertical-align: middle;
		a {
			color: $du_black;
			display: inline-block; text-align: center;
			height: 36px; width: 36px; line-height: 36px;
			font-size: 18px;
			@include transition-duration(0.25s);
		}
		a.facebook {color: $color_facebook;}
		a.vk       {color: $color_vk;}
		a.google   {color: $color_google;}
		a.twitter  {color: $color_twitter;}
		a.youtube  {color: $color_youtube;}
		&:hover{
			a {
				@include transform(scale(1.5));
			}
		}
	}
}

.share-section {
	position: relative;
	.header {display: inline-block; margin: 0; font-size: 36px; line-height: 64px; vertical-align: middle;}
	.sharing {
		margin: 0 0 0 34px;
		li {
			a{
				background: #fff;
				border-radius: 50%;
				@include box-shadow(rgba(128, 128, 128, 0.5) 0 3px 5px 0px);
			}
			&:hover {
				a {
					background: orange;
					color: #fff;
				}
			}
		}
	}
	
}

.fixed {position: fixed; top: 0; left: 0; right: 0; z-index: 9000;}
.drop {display: none;}
.drop-button {
	cursor: pointer;
	i {font-size: 1.25em; vertical-align: bottom; display: inline-block;}
}
.row.no-margin {margin-bottom: 0;}

/**** HEADER ****/
header {
	nav {
		a {color: $du_black;}
		@include transition(background 0.5s ease);
	}
	nav.transparent {
		/*a {color: white;}*/
	}
}

.brand-logo img, .footer-logo img {max-width: 200px; padding: 14px 0;}

/**** PAGE ****/
.section-title {font-size: 1.5rem;}
.items-grid {
	.item {
		a {position: relative; display: block;}
		padding: 1px;
		margin: 0;
		
		.square {width: 100%; height: auto; vertical-align: bottom;}
		.wrapper {
			position: absolute; top: 0; left: 0;
			text-align: center;	height: 100%; width: 100%; overflow: hidden;
			background: #ccc;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			
			@include transition(background 0.5s ease);
			.content {
				padding: 17px;
				display: inline-block;
				vertical-align: middle;
				margin-left: -0.35em;
			}

			.title {text-transform: uppercase; color: $du_black;}
			.value {font-size: 2.5rem; color: $du_black;}
			&:hover {
				background: $du_black !important;
				.title, .value {color: #fff;}
			}
		}
	}
}
.grid-5 {
	.item {
		width: 20%;
		float: left;
	}
}

.greed-green {
	.item .wrapper {background: #fff54e;}
	.item:nth-child(1) .wrapper {background: #5da30f;}
	.item:nth-child(2) .wrapper {background: #70be1a;}
	.item:nth-child(3) .wrapper {background: #7fcd2b;}
	.item:nth-child(4) .wrapper {background: #8ce42e;}
	.item:nth-child(5) .wrapper {background: #8ce42e;}
	.item:nth-child(6) .wrapper {background: #a4e95a;}
	.item:nth-child(7) .wrapper {background: #c2e95a;}
	.item:nth-child(8) .wrapper {background: #cce959;}
	.item:nth-child(9) .wrapper {background: #e7e958;}
	.item:nth-child(10) .wrapper {background: #fff54e;}
}

.cta-container { 
	background-image: url('../images/background1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.wrapper {padding: 30px 0; overflow: hidden; height: 100%; background-color: rgba(71, 209, 255, 0.55)}
}
.section {
	.heading {
		padding: 30px 0;
		.header {margin: 0; line-height: 36px;}
	}
}
.card {
	.card-title {font-size: 18px; line-height: 1;}
	&.no-content {
		.card-action {border-top: none; padding-top: 10px; padding-bottom: 10px;}
	}
}
.page-header {
	padding-top: 40px;
	.page-title {font-size: 2em; margin: 0; padding: 0; line-height: 40px;}
	.action {
		float: right; text-align: right; line-height: 40px;
	}
}
.card-image {
	img {opacity: 1; @include transition(opacity 0.25s ease);}
	img:hover {opacity: 0.8;}
}

.pagination li {
	&, i {line-height: 30px;}
	&.active {background-color: $du_yellow;}
}



/*** REPORT PAGE ***/
.report {
	padding: 30px 0;
	.head {
		.head-wrapper {
			position: relative;
			.share {
				position: absolute; left: 0; bottom: 0; z-index: 0;
				height: 80px; line-height: 80px; width: 100%;
				border: 1px solid $du_light;
				li {width: 40px;}
				a {
					color: $du_light_grey;
					&.facebook:hover {color: $color_facebook;}
					&.vk:hover       {color: $color_vk;}
					&.google:hover   {color: $color_google;}
					&.twitter:hover  {color: $color_twitter;}
					&.youtube:hover  {color: $color_youtube;}
				}
			}
			.cart {
				display: block;
				position: absolute; right: 40px; bottom: 40px; z-index: 2;
				border-radius: 50%;
				width: 80px; height: 80px; line-height: 80px; text-align: center;
				color: #fff; font-size: 2em;
				background-color: orange;
				@include transition(background-color 0.25s ease);
				&.download {background-color: green;}
				&:hover {
					background-color: $du_blue;
				}
			}
		}
		.head-image {
			position: relative; z-index: 1;
			img {max-width: 100%; height: auto; vertical-align: bottom;}
		}
		.head-title {font-size: 2rem; line-height: 2rem;}
		.head-content {
			padding-bottom: 80px;
			.price {color: $du_blue; font-size: 4rem;}
		}
	}
	.chart-container img {max-width: 100%;}
}

/******* LOGIN PAGE *******/
body.fixed {position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;}
#login-banner {
	position: fixed; z-index: 0; top: 0; left: 0; right: 0; 
	height: 350px; 
	overflow: hidden; 
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat; background-position: center; background-size: cover;
}
.login-section {position: relative; z-index: 1; margin-top: 50px;}
.logo-text {font-size: 1.5em; padding: 1em 0;}
.login-wrapper {
  background-color: white;
  padding: 34px;
  .link {font-size: 12px;}
}

/**** FOOTER ****/
footer.page-footer {
	padding-top: 0;
	margin-top: 0;
	.footer-copyright {background-color: $du_black; height: 63px; line-height: 63px;}
	.footer-nav {box-shadow: none !important; background: transparent;}
	a {color: $du_light_grey;}

}

/**** RESPONSE ****/
@media screen and (min-width: 600px){
	.report {
		.head-wrapper {
			@include box-shadow(rgba(100, 100, 100, 0.5) 0 1px 3px 0);
			.share {border-width: 1px 0 0 0;}
		}
	}
}

@media screen and (max-width: 992px){
	.grid-5 {
		.item {width: 25%; float: left;}
	}
}
@media screen and (max-width: 600px){
	.grid-5 {
		.item {width: 33.33%; float: left;}
	}
}
@media screen and (max-width: 480px){
	.grid-5 {
		.item {width: 50%; float: left;}
	}
	.brand-logo {right: 50%;}
	.brand-logo img, .footer-logo img {max-width: 150px;}
}